NODE_ENV=development

DATABASE_PROVIDER=sqlite
DATABASE_URL=mi_valor

NEXT_PUBLIC_BASE_PATH=/macti
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
K8S_API_URL=http://localhost:8000

BETTER_AUTH_SECRET=mi_valor
BETTER_AUTH_URL=${NEXT_PUBLIC_APP_URL}

NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=mi_valor

PRINCIPAL_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_PRINCIPAL_KEYCLOAK_ISSUER=mi_valor

CUANTICO_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_CUANTICO_KEYCLOAK_ISSUER=mi_valor

CIENCIAS_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_CIENCIAS_KEYCLOAK_ISSUER=mi_valor

INGENEIRIA_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_INGENEIRIA_KEYCLOAK_ISSUER=mi_valor

ENCIT_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_ENCIT_KEYCLOAK_ISSUER=mi_valor

IER_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_IER_KEYCLOAK_ISSUER=mi_valor

ENESM_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_ENESM_KEYCLOAK_ISSUER=mi_valor

HPC_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_HPC_KEYCLOAK_ISSUER=mi_valor

IGF_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_IGF_KEYCLOAK_ISSUER=mi_valor

ENESJUR_KEYCLOAK_CLIENT_SECRET=mi_valor
NEXT_PUBLIC_ENESJUR_KEYCLOAK_ISSUER=mi_valor
