DATABASE_URL=example
DATABASE_PROVIDER=example

MOODLE_TOKEN_PRINCIPAL=example
MOODLE_TOKEN_CUANTICO=example
MOODLE_TOKEN_CIENCIAS=example
MOODLE_TOKEN_INGENIERIA=example

PRINCIPAL_ADMIN_CLIENT_SECRET=example
CUANTICO_ADMIN_CLIENT_SECRET=example
CIENCIAS_ADMIN_CLIENT_SECRET=example
INGENIERIA_ADMIN_CLIENT_SECRET=example

SMTP_HOST=example
SMTP_PORT=example
SMTP_USER=example
SMTP_PASS=example
FROM_ADDRESS=example

APP_ENV=example

FRONTEND_URL=example